Flask==1.1.1
earthengine-api==0.1.202
CTRegisterMicroserviceFlask==0.4.0
requests==2.22.0
shapely==1.7a1
pyproj==1.9.6
redis==2.10.6
pytest
oauth2client==4.1.3
pycrypto==2.6.1
python-dotenv==0.10.1
google-cloud==0.34.0
pytest-cov
googletrans==2.4.0
geocoder==1.38.1
numpy==1.17.2
scipy==1.3.1
pandas==0.25.1