CTRegisterMicroserviceFlask==0.4.0
Flask==1.1.1
earthengine-api==0.1.232
geocoder==1.38.1
google-cloud==0.34.0
googletrans==2.4.0
numpy==1.17.2
oauth2client==3.0.0
pandas==0.25.3
pycrypto==2.6.1
pyproj==1.9.6
python-dotenv==0.11.0
redis==2.10.6
requests==2.22.0
scipy==1.5.2
shapely==1.7a1
